Repository gruhn/vue-qrcode-reader: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format

.lintstagedrc:

{
  "**/*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["pnpm lint"],
  "**/*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts,json,md}": ["pnpm format"]
}

docs(README): add notes about 1D barcodes
  README.md
Due: pnpm format

chore(format): keep code formatted
  .github/ISSUE_TEMPLATE/bug_report.md
  .lintstagedrc
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  docs/.vitepress/components/demos/CustomTracking.vue
  docs/.vitepress/components/demos/CustomTrackingWithFormats.vue
  docs/.vitepress/components/demos/DeviceId.vue
  docs/.vitepress/components/demos/DragDrop.vue
  docs/.vitepress/components/demos/Fullscreen.vue
  docs/.vitepress/components/demos/HandleErrors.vue
  docs/.vitepress/components/demos/LoadingIndicator.vue
  docs/.vitepress/components/demos/ScanSameQrcodeMoreThanOnce.vue
  docs/.vitepress/components/demos/SwitchCamera.vue
  docs/.vitepress/components/demos/Upload.vue
  docs/.vitepress/components/demos/Validate.vue
  docs/.vitepress/config.ts
  docs/api/QrcodeCapture.md
  docs/api/QrcodeDropZone.md
  docs/api/QrcodeStream.md
  docs/demos/Upload.md
  docs/index.md
  package.json
Due: pnpm lint, pnpm format

Update QrcodeDropZone.md
  docs/api/QrcodeDropZone.md
Due: pnpm format

Update QrcodeCapture.md
  docs/api/QrcodeCapture.md
Due: pnpm format

ci: configure legacy release action
  .github/workflows/legacy-release.yml
Due: none

fix: dummy commit to trigger release
  .releaserc.yml
  README.md
Due: pnpm format

fix: configure legacy release action
  .github/workflows/legacy-release.yml
  .releaserc.yml
Due: none

Notes added by 'git notes add'
  b057338f8c341ac74e6c1ac7f72ca6bf13117f73
Due: none

Notes added by 'git notes add'
  315fa89a5e01a106b1360a8b54391c2edf51a103
Due: none

docs: fix wrong unpkg link
  README.md
Due: pnpm format

feat：support formats
  package.json
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/misc/scanner.js
Due: pnpm lint, pnpm format

fix: scanner breaks after constraint update
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  c8794352b32d928fc59548e3fe788d3c8ac5c683
Due: none

docs: unify demos to "Full Demo"
  README.md
  docs/.vitepress/components/demos/CustomTracking.vue
  docs/.vitepress/components/demos/CustomTrackingWithFormats.vue
  docs/.vitepress/components/demos/DeviceId.vue
  docs/.vitepress/components/demos/FullDemo.vue
  docs/.vitepress/components/demos/HandleErrors.vue
  docs/.vitepress/config.ts
  docs/api/QrcodeStream.md
  docs/demos/CustomTracking.md
  docs/demos/CustomTrackingWithFormats.md
  docs/demos/DeviceId.md
  docs/demos/FullDemo.md
  docs/demos/HandleErrors.md
  docs/index.md
  package.json
Due: pnpm lint, pnpm format

docs(QrcodeCapture): add capture attribute
  docs/api/QrcodeCapture.md
Due: pnpm format

fix(QrcodeStream): ignore structually equal prop changes
  .lintstagedrc
  package.json
  shell.nix
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  f49174c692246d5315522de61273e08e21204756
Due: none

docs: apply linter and clean up QrcodeCapture docs
  docs/.vitepress/components/demos/FullDemo.vue
  docs/api/QrcodeCapture.md
Due: pnpm lint, pnpm format

Deploy preview for PR 422 🛫
  pr-preview/pr-422/404.html
  pr-preview/pr-422/api/QrcodeCapture.html
  pr-preview/pr-422/api/QrcodeDropZone.html
  pr-preview/pr-422/api/QrcodeStream.html
  pr-preview/pr-422/demos/DragDrop.html
  pr-preview/pr-422/demos/FullDemo.html
  pr-preview/pr-422/demos/Fullscreen.html
  pr-preview/pr-422/demos/LoadingIndicator.html
  pr-preview/pr-422/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-422/demos/Simple.html
  pr-preview/pr-422/demos/SwitchCamera.html
  pr-preview/pr-422/demos/Torch.html
  pr-preview/pr-422/demos/Upload.html
  pr-preview/pr-422/demos/Validate.html
  pr-preview/pr-422/hashmap.json
  pr-preview/pr-422/index.html
  pr-preview/pr-422/sw.js
Due: pnpm lint, pnpm format

Deploy preview for PR 422 🛫
  pr-preview/pr-422/404.html
  pr-preview/pr-422/api/QrcodeCapture.html
  pr-preview/pr-422/api/QrcodeDropZone.html
  pr-preview/pr-422/api/QrcodeStream.html
  pr-preview/pr-422/demos/DragDrop.html
  pr-preview/pr-422/demos/FullDemo.html
  pr-preview/pr-422/demos/Fullscreen.html
  pr-preview/pr-422/demos/LoadingIndicator.html
  pr-preview/pr-422/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-422/demos/Simple.html
  pr-preview/pr-422/demos/SwitchCamera.html
  pr-preview/pr-422/demos/Torch.html
  pr-preview/pr-422/demos/Upload.html
  pr-preview/pr-422/demos/Validate.html
  pr-preview/pr-422/hashmap.json
  pr-preview/pr-422/index.html
  pr-preview/pr-422/manifest.webmanifest
  pr-preview/pr-422/registerSW.js
  pr-preview/pr-422/sw.js
Due: pnpm lint, pnpm format

ci: migrate docs to GitHub pages
  .github/workflows/main.yml
  .github/workflows/preview.yml
  docs/.vitepress/config.ts
Due: pnpm lint, pnpm format

tinker
  .github/workflows/main.yml
Due: none

tinker
  .github/workflows/main.yml
  docs/.vitepress/config.ts
Due: pnpm lint, pnpm format

tinker
  .github/workflows/main.yml
  .github/workflows/preview.yml
  docs/.vitepress/config.ts
Due: pnpm lint, pnpm format

tinker
  .github/workflows/preview.yml
Due: none

tinker
  docs/.vitepress/config.ts
Due: pnpm lint, pnpm format

tinker
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  README.md
  package.json
Due: pnpm format
